[Unit]
Description=AgentV2 Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/authnull-agent
Restart=on-failure
User=root
Group=root
WorkingDirectory=/usr/local/sbin/
EnvironmentFile=/usr/local/sbin/app.env
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
