[Unit]
Description=AgentV2.0.0.1 Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/authnull-agent
Restart=on-failure
User=root
Group=root
WorkingDirectory=/usr/local/sbin/
EnvironmentFile=/usr/local/sbin/app.env
StandardOutput=append:/var/log/authnull-agent.log
StandardError=append:/var/log/authnull-agent.log

[Install]
WantedBy=multi-user.target
