[Unit]
Description=Agent Daemon
After=network.target

[Service]
Type=simple
ExecStart=/opt/authnull-db-agent
WorkingDirectory=/opt
User=root
Restart=on-failure
StartLimitBurst=2

[Install]
WantedBy=default.target
