[Unit]
Description=Agent Daemon - V1.1
After=network.target

[Service]
Type=simple
ExecStart=/opt/authnull-db-agent/db-agent
WorkingDirectory=/opt/authnull-db-agent
User=root
Restart=on-failure
StartLimitBurst=2

[Install]
WantedBy=default.target
