[Unit]
Description=Agent Daemon

[Service]
WorkingDirectory=%h/authnull-db-agent
Type=simple
User=authnulluser
ExecStart=%h/authnull-db-agent/authnull-db-agent
Restart=on-failure
StartLimitBurst=2

[Install]
WantedBy=default.target
